.message{
    padding:10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;

}
.other-message{
    background-color: var(--ion-color-tertiary);
    color:#fff;
}

.my-message{
    background-color: var(--ion-color-secondary);
    color:#fff;

}
.time{
    color:#dfdfdf;
    float: right;
    font-size: small;

}
.messageInput{
    width: 100%;
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
    background:#fff;
    resize: none;
    padding-left: 10px;
    padding-right: 10px;
    max-height: 100px;
}
.messageSendButton{
    --padding-start:0.5em;
    --padding-end:0.5em;

}