ion-label{
    font-size: 14px;
}
form{
    margin-top: auto;
}
ion-header::after{
    --background-image:none;
}
ion-content{
    --background: #204459;
    --color:#7692a2;
}
ion-label{
    font-size: 16pt;
}