<ion-header>
  <ion-toolbar>
    <ion-title>Contacts</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <a routerLink="/messages">Go to Chat</a>
    <ion-item-group *ngFor="let contact of contactsFound" >
      <ion-item (click)="revealNumber(contact.id)">
        <ion-avatar slot="start">
          <img src="contact.photos[0].value">
        </ion-avatar>
        <ion-label>
          {{contact?.displayName}}
        </ion-label>
        <ion-chip color="danger">
            <ion-label>In Range</ion-label>
        </ion-chip>
      </ion-item>
      <ion-item class="number" *ngIf="showing.includes(contact.id)==true">
        <div class="itemcontent">
          <ion-label class="number">
            {{contact.phoneNumbers[0].value}}
          </ion-label>
        </div>
      </ion-item>  
    </ion-item-group>
    <ion-item class="number" *ngFor="let user of users">
      <div class="itemcontent">
        <ion-label class="number">
          {{user.name}}
        </ion-label>
      </div>
    </ion-item>  
    
</ion-content>
