<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/chat/main"></ion-back-button>
    </ion-buttons>
    <ion-button (click)="getDevices()" slot="end"><ion-icon name="Bluetooth"></ion-icon>Tara</ion-button>
    <ion-button (click)="loadAppContact()" slot="end"><ion-icon name="Contacts"></ion-icon>App Contacts</ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item-group *ngFor="let contact of contactsFound" >
      <ion-item (click)="revealNumber(contact.id)">
        <ion-avatar slot="start">
          <img src="../../../assets/dummy_pic.png">
        </ion-avatar> 
        <ion-label>
          {{contact?.displayName}}
        </ion-label>
      </ion-item>
      <ion-item class="number" *ngIf="showing.includes(contact.id)==true">
        <div class="itemcontent">
          <ion-label class="number">
            {{contact.phoneNumbers[0].value}}
          </ion-label>
        </div>
      </ion-item>  
    </ion-item-group>
    <ion-item class="number" *ngFor="let user of users">
      <div class="itemcontent">
        <ion-label class="number">
          {{user.name}}
        </ion-label>
      </div>
    </ion-item>  
    
    <ion-list>
      <h3>Yakınınızdaki Cihazlar</h3>
      <p *ngIf="devices.length==0">Cihaz Yok Tekrar Tarayınız</p>
      <ion-card-content ion-item *ngFor="let device of devices">
        <p>{{device.name || 'Unnamed'}}</p>
        <p>{{device.id}}</p>
        <p> RSSI: {{device.rssi}}</p>
      </ion-card-content>
    </ion-list>

    <ion-list>
      <h3>Uygulamayı Kullanan Kişilerin</h3>
      <p *ngIf="appContacts.length==0">Uygulamayı Kullanan Arakadaşın Yok</p>
      <ion-item *ngFor="let appContact of appContacts" routerLink="/chat/messages">
        <ion-avatar slot="start">
            <img src="../../../assets/dummy_pic.png">
        </ion-avatar>
        <ion-label>{{appContact.displayName}}</ion-label>
      </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="loadContact()">
          <ion-icon name="Contacts"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    
</ion-content>
