.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
div#logo {
  margin-top: 25px;
  margin-bottom: 12px;
}
ion-content {
  --background-color:#7692a2;
}
.head{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}
ion-toolbar{
  --background:#7692a2;
}







